.button {
    text-align: center;
    max-width: 500px;
    border-radius: 2em;
    margin: 100px 70px;
    padding: 3px;
    font-size: 0.7em;
    background-color: rgb(34, 92, 200);
}

.button h1 {
    font-weight: 400;
    color: white;
}

@media screen and (min-width: 920px) {
    .button {
        margin: 100px auto;
    }
}